[submodule "extlibs/windows-bricks"]
	path = extlibs/windows-bricks
	url = E:\\Users\\23Xor\\Desktop\\windows-bricks
[submodule "extlibs/fmt"]
	path = extlibs/fmt
	url = E:\\Users\\23Xor\\Desktop\\fmt
