[submodule "extlibs/windows-bricks"]
	path = extlibs/windows-bricks
	url = https://github.com/TsXor/windows-bricks.git
[submodule "extlibs/fmt"]
	path = extlibs/fmt
	url = https://github.com/fmtlib/fmt.git
